body{
    background-color: #3e3347;
    font-family: 'Caveat', cursive;
    text-align: center;
}

h1{
    font-size: 8rem;
    font-family: 'Kalam', cursive;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p{
    font-size: 2.5rem;
    margin: 0 1% 2%;
    /* display: inline-block; */

}

.container{
    color: #34ebc9;
}

hr{
    color: white;
}
/* Footer */
footer{
    text-align: center;
    color: white;
}



.hidden{
    visibility: hidden;
    position: absolute;
}
